.cards
    display: flex
    margin: 0 10%
    div
        width: 15vw
        height: 17vw
        text-align: center
        background-color: #e2e0e0
        margin: 5% 2%
        border-radius: 5px
        font-size: 0.8vw
        padding: 0 1%
        .bgfontA
            width: 60px
            height: 60px
            background-color: #fff
            margin: 5% auto
            border-radius: 50%
        i
            font-size: 1.7vw
            color: #3676bb
            padding-top: 25% 
        span
            color: #26a2cc
            