header
    section
        display: flex
        justify-content: space-around
        background-color: #363b47
        color: #fff
        height: 4.5vw
        //mediaqueries mobile
        @media screen and ( min-width: 375px ) and ( max-width: 767px )
            height: 6vw
        h1
            font-size: 2vw
            margin-top: 20%
            //mediaqueries mobile
            @media screen and ( min-width: 375px ) and ( max-width: 767px )
                display: none
        nav
            width: 40%
            padding-top: 1%
            //mediaqueries tablette
            @media screen and ( min-width: 768px ) and ( max-width: 1023px )
                padding-top: 0
            //mediaqueries mobile
            @media screen and ( min-width: 375px ) and ( max-width: 767px )
                padding-top: 0
                width: 100%
        ul
            list-style-type: none
            display: flex
            width: 100%
            padding-left: 0
            //mediaqueries mobile
            @media screen and ( min-width: 375px ) and ( max-width: 767px )
                margin: 2vw 0
            li
                width: 15%
                text-align: center
                font-weight: 100
                font-size: 0.8vw
                opacity: 50%
                //mediaqueries tablette
                @media screen and ( min-width: 768px ) and ( max-width: 1023px )
                    font-size: 1vw
                //mediaqueries mobile
                @media screen and ( min-width: 375px ) and ( max-width: 767px )
                    font-size: 2vw
            li:hover
                width: 15%
                height: 3vw
                background-color: #3676bb
                border-top-left-radius: 2px
                border-top-right-radius: 2px
                opacity: 100%
    img
        width: 100%

