.imagecards
    display: flex
    margin: 3% 11%
    .Rwork
        width: 40%
        font-size: 0.85vw
        padding-top: 1%
        padding-right: 4%
        .loremwork
            opacity: 70%
        button
            background-color: #26a2cc
            color: #fff
            border: none
            height: 50px
            border-radius: 5px
    .troiscarte
        display: flex
        width: 60%
        margin-left: 5%
        div
            background-color: #38485f
            width: 20vw
            height: 18vw
            margin: 0 0.2vw
            border-bottom-left-radius: 5px
            border-bottom-right-radius: 5px
            text-align: center
            img
                width: 100%
            h2
                color: #fff
                font-size: 1.3vw
            p
                font-size: 1vw
