.anderson
    height: 17vw
    background-color: #e8e6e0
    margin-top: -2.4vw
    div
        width: 70%
        text-align: center
        margin: 0 auto
        p
            padding-top: 5%
            font-size: 1.8vw
            .prog
                color: #fff
                background-color: #26a2cc
            .complexity
                color: #26a2cc
                font-weight: 900

        .buzz
            margin-top: -4%
